
body{
    
  font-family: "Helvetica", Arial, sans-serif;
    background-image:url("back.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.h2{
 padding: 1px 1px;
 display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:20px;
    text-align:center;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.5);
    width:300px;
height:150px;
}
.h5{
    text-align:centre;
    background-color:rgba(0, 0, 0, 0.5);
;
    border-radius: 10px;
    color: #ffffff;
    padding: 5px 5px;
    font-size:15px;
    
}


.but{
    text-align:center;
}
.map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:5px;
    text-align:center;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.5);
    

           
        }

        /* Style the dropdown content (hidden by default) */
 
        
.btn{
    font-color:white;
    background-color:rgba(0, 0, 0, 0.5);
}
.mapy{
  padding: 5px 1px;
   text-align:center;
    border-radius: 5px;
    color: #ffffff;
    font-size:10px;
    border:none;

  
      background-color:rgba(0, 0, 0, 0.5);
}#42445A
   .link{
     color: white ;
     background-color:rgba(0, 0, 0, 0.5);
     border: White;
   
   } 
   .c{
     text-align: center;
     color:black;
     font-size:10px;
     color:white;
   }
      /* Style the menu button */
        .navbar {
    background-color: #333;
    overflow: hidden;
}
/*Menu*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}